.nav {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #f9f9fa;
  padding: 20px 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: #2e363e;
  position: relative;
}

.nav__notification {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  bottom: 15px;
  left: 15px;
  color: white;
  font-weight: 800;
  background-color: tomato;
}

.nav__dot {
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 3.5px;
  background-color: tomato;
  top: -13px;
  right: -5px;
}
